.ht{
    height: 50px;
    font-size: larger;
}
.hs{
    background-color: cornflowerblue;
    width: 500px;
}
.kt{
    height: 50px;
    font-size: larger;
}
#hl1{
    color: blue;
}
#hl2{
    color: blueviolet;
}
#hl3{
    color: brown;
}